@{
    ViewBag.Title = "Ha ocurrido un error.";
}

    <h2>Ha ocurrido un error.</h2>
<h4>La medicina buscada no se encuentra en el indice o la cantidad requerida supera a la existencia en el stock</h4>
@Html.ActionLink("Back", "Index")
