@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LAB 3</h1>
    <p class="lead">“Implementación y análisis de árboles AVL”</p>
    <p>
        <b>José Vinicio De León 1072619</b>
        <br />
        <b>Javier Andrés Morales 1210219</b>
    </p>

    <ul>
        <li>Implementación de Tipos de datos abstractos.</li>
        <li>Implementación de árboles AVL.</li>
        <li>Reforzar los recorridos preorden, inorden, postorden.</li>
        <li>Implementación de las operaciones de agregar y eliminar nodos en la estructura de árbol AVL con todo el procedimiento implícito.</li>
    </ul>
</div>
