@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LAB 2</h1>
    <p class="lead">“Implementación y análisis de árboles binarios”</p>
    <p>
        <b>José Vinicio De León 1072619</b>
        <br />
        <b>Javier Andrés Morales 1210219</b>
    </p>
</div>
